@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}
.w3-bar-item {
  padding-top: 16px!important;
  padding-bottom: 16px!important;
}
.brand {
  font-weight: bold;
}
.w3-panel {position: relative; font-size: 1.2rem;}

.actions {
  display: flex;
}
.actions a {
  margin-right: 14px;
}